<h1>Events</h1>

<div>
<% @events.each do |event| %>
    <%= event.description %> : <%= event.images.count %>

    <div>
      <% event.images.each do |img| %>
        <%= image_tag img.image.url(:medium) %>
        <% end %>
      <br>

    </div>
  <% end %>

</div>