<h1>Posts</h1>

<div>
<% @posts.each do |post| %>
    <%= post.description %> : <%= post.images.public_images.count %>

    <div>
      <% post.images.public_images.each do |img| %>
        <%= image_tag img.image.url(:medium) %>
        <% end %>
      <br>

    </div>
  <% end %>

</div>